
.table{
    width:  25px;
    height: 150px;
    background-color: rgb(207, 138, 138);
    border: 4px solid #8C4F39;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);    
    margin: 50px;
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border-radius: 20px;
    padding: 0 50px  ;
  }
  .chair{
    width: 25px;  
    height: 21px;
    border: 1px solid rgb(137, 61, 61);
    background-color: rgb(235, 235, 126);
    background: linear-gradient(45deg, #f1f1f1, #e1e1e1);
    position:absolute;
    border-radius: 0 0 100px 100px / 0 0 50px 50px;
    background-color: #FFF;
    border-color: #C0C0C0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  
  }
  .top-left {
    top: 19px;
    left: -22px;
    transform: rotate(90deg);
  }
  .top-right {
    top: 19px;
    right: -22px;
    transform: rotate(-90deg);
  }
  .middle-left{
    bottom: 65px;
    left: -22px;
    transform: rotate(90deg);
  }
  .middle-right{
    top: 65px;
  right: -22px;
  transform: rotate(-90deg);
  }
  
  .bottom-left {
    bottom: 19px;
    left: -22px;
    transform: rotate(90deg);
  }
  
  .bottom-right {
    bottom: 19px;
    right: -22px;
    transform: rotate(-90deg);
  }
  
  /******* tables for 4 chairs (Square)****** */
  .top-left-square {
    top: -20px;
    left: 15px;
    transform: rotate(180deg);
  }
  
  .top-right-square{
    top: -20px;
    right: 15px;
    transform: rotate(-180deg);
  }
  
  .bottom-left-square {
    bottom: -20px;
    left: 15px;
    transform: rotate(0deg);
  }
  
  .bottom-right-square {
    bottom: -20px;
    right: 15px;
    transform: rotate(0deg);
  }
  
  #table1{
    top: 50px;
    left: 50px;
  }
  #table2{
    top: 55px;
    left: 300px;
  }
  #table3{
    top: 300px;
    left: 49px;
  }
  
  #table4{
    top: 300px;
    left: 300px;
  }
  /* **(Ids for 4chairs (square))**** */
  #table5{
    top: 55px;
    left: 520px;
    height: 100px;
  }
  
  #table6{
    top: 300px;
    left: 520px;
    height: 100px;
  }
  /******* tables for 4 chairs (Circle)****** */
  .top-left-circle {
    top: -19px;
    left: 38%;
    transform: translateX(-50%);
    transform: rotate(180deg);
    
  }
  
  .top-right-circle {
    bottom: -19px;
    left: 38%;
    transform: translateX(-50%);
    transform: rotate(0deg);
  }
  
  .bottom-left-circle {
    top: 38%;
    left: -21px;
    transform: translateY(-50%);
    transform: rotate(90deg);
  }
  
  .bottom-right-circle {
    top: 38%;
    right: -21px;
    transform: translateY(-50%);
    transform: rotate(-90deg);
  }
  /* **(Ids for 4chairs (square))**** */
  #table7{
    top: 55px;
    left: 710px;
    border-radius: 100%;
    padding: 0 50px;
    height: 100px;
  }
  
  #table8{
    top: 300px;
    left: 710px;
    border-radius: 100%;
    padding: 0 50px;
    height: 100px;
  }
  
  #table9{
    top: 55px;
    left: 890px;
    border-radius: 100%;
    padding: 0 40px;
    height: 80px;
  }
  
  #table10{
    top: 300px;
    left: 890px;
    border-radius: 100%;
    padding: 0 40px;
    height: 80px;
  }
  
  #table11{
    top: 500px;
    left: 50px;
    height: 240px;
    padding: 0 60px;
  }
  /* .table:hover {
    background-color: rgb(207, 138, 138);;
  } */
  /* div {
   padding-left:4px ;
   justify-content: center;
  } */


  .row
  {
    margin-top: 450px;
    padding-left: 55px;
  }
  button 
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    transition: 1s;
  }
 .btn
  {
    text-decoration: none;
    display: inline-block;
    color:white;
    border: 1px solid white;
    padding: 12px ;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    background: green;
    margin-top: 10px;
  }
  .selected
  {
    background-color: skyblue;
  }
/* .btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
} */