.footer{
    width: 100%;
    text-align: center;
 }
 .footer h4{
    margin-top: -230px;
    margin-bottom: 25px;
    font-weight: 600;
 }

 .icons .fa-brands{
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
 }
 .fa-heart{
    color: #f44336;
 }
 .sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('https://t4.ftcdn.net/jpg/05/83/90/17/240_F_583901767_l0ZxyLupe4NHbNnLeEuTK35AvC2Ccu26.jpg');
    background-position: center bottom;
    background-size: cover;
    text-align: center;
    color: #fff;
}


.sub-header h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: "Abril Fatface", cursive;
    color: #888 ;
  }
  

 .about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
 }
 .about-col{
    flex-basis: 48%;
    padding: 30px 2px;
 }
 .about-col h1{
    padding-top: 0;
 }
 .about-col p{
    padding: 15px 0 25px;
 }
 .about-col a{
    margin-top: 25px;
 }
 button {
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
  }
  .btn{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
    background: transparent;
    margin-top: 325px;
}
.btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
 }
 .red-btn:hover{
    color: #fff;
 }