img{
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    
}
.cont{
    padding: 70px 0;
}
a
{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}
.fa{
    color: #f44336;
}