<div *ngIf="!submitted else showSubmitted">
  <div class="box1">
    <div class="col-xs-5">
      <h2><strong>Selected Restaurant Details:</strong></h2>
    <img [src]="selectedRestaurant.imagesrc"  class="img-responsive"
            style="max-height: 200px;"> 
       
      <h4> <strong>Restaurant Name : </strong> {{selectedRestaurant.name}}</h4>
      <h4><strong>Location : </strong>  {{selectedRestaurant.des}}</h4>
      <h4><strong>Selected Table no : </strong> {{tableNumber}}</h4>
    
      
    </div>
    </div> 
    
    
    
      
    <div class="box2">
      <div class="col-xs-5">
        <h3> <strong>Enter your detail's:</strong> </h3>
        <hr>
        <form action="/action_page.php" #bookedForm="ngForm"   (ngSubmit)="onBookCreate(bookedForm.value)">
          
          <label for="fname">Name:</label>
          <input type="text" id="fname"  name="firstname" placeholder="Your name.." required ngModel>    
      
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="xyz@gmail.com" required ngModel>
      
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" name="phone" placeholder="xxxxxxxxxx" required ngModel>
          
          
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required ngModel>
          
          
          <label for="time">Time:</label>
          <p>Select time after 12pm</p>
          <input type="time" id="time" name="time" required ngModel>
          
          
          
          <label for="party-size">Party Size:</label>
          <input type="number" id="party-size" name="partysize" required ngModel>
          
          
          <label for="table-preference">Table Preference:</label>
          <select id="table-preference" name="tablepreference" ngModel>
            <option value="">Select an option</option>
            <option value="window">Window Seat</option>
            <option value="booth">Booth</option>
            <option value="patio">Outdoor Patio</option>
            <option value="bar">Bar Seating</option>
          </select>
          
          <input type="submit" value="Submit" >
        </form>
      </div>
    </div>
  </div>
  <ng-template #showSubmitted>
    <p class="green-text">Thanks for registering.</p>
  </ng-template>
    
     

     
     
     
     
     
     
     
     
     
  <!-- <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="resv.css">
  </head>
  <body>
    <div class="container">
      <div class="design">
        <img src="https://t3.ftcdn.net/jpg/05/66/54/16/360_F_566541693_WljU6enGuKCBVEn9vXhdCXL4uZ7wb6Xb.jpg" alt="table">
        <div class="text-under-image">
          <h2>Table Reservation</h2>
          <p>Book your table now and enjoy our delicious menu!</p>
        </div>
      </div>
     
      <div class="login">
        <h3 class="title">Book Your Table</h3>
        <div class="input-text">
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="Your name.." id="name">
        </div>
        <div class="email-text">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Email" id="email">
        </div>
    
        <div class="email-text">
          <i class="fa-solid fa-phone"></i>
          <input type="text" placeholder="phone number">
        </div>
    
        <div class="input-text">
          <i class="fa-solid fa-calendar-days"></i>
          <input type="date">
        </div>
        <div class="input-text">
          <i class="fa-sharp fa-solid fa-clock"></i>
          <input type="time">
        </div>
    
        <button class="login-btn" id="login" onclick="validate()">Book now</button>
      </div>
    </div>
    
  </body>
  </html> -->
     
     