/* You can add global styles to this file, and also import other style files */
/* .colo
{
    background-color: aqua;
} */
/* .backg
{
    background-image: url('../assets/images/tables.jpg');
    background-size: cover;
    background-position: center;
} */

/* body{
    background-image: url('tables.jpg');
    background-size:cover;
    background-position:inherit; 
} */